/node_modules
/public/storage
/public/cavatars
/public/posters
/public/thumbnails
/public/ethumbnails
/storage/*.key
/storage/app/videos
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.env
