/* Subscription Page */

.pricing-table {
    background: #020d18;
    padding: 5em;
}
.pricingTable{
    color: var(--main-color);
    background: #0b1a2a;
    text-align: center;
    padding: 20px 0 30px;
    margin: 0 15px;
    border: 1px solid #333;
    box-shadow: 0 0 10px -5px #000;
    margin: 1em;
    --main-color: #dd003f; 
    
}
.pricingTable .pricingTable-header{ margin: 0 0 25px; }
.pricingTable .title{
    color:#fff;
    background: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 15px;
    margin: 0 -15px 15px;
    border-radius: 5px 5px 5px 0;
    position: relative;
}
.pricingTable .title:after{
    content: '';
    background: linear-gradient(to top right,transparent 50%, #444 50%);
    height: 15px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 100%;
}
.pricingTable .price-value{
    padding: 0 0 0 70px;
    display: inline-block;
    position: relative;
}
.pricingTable .price-value span{ display: block; }
.pricingTable .price-value .price-currency{
    color: #fff;
    background-color: var(--main-color);
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}
.pricingTable .price-value .amount{
    color: #eee;
    font-size: 35px;
    font-weight: 200;
    line-height: 45px;
    padding: 0 20px;
    margin: 0 0 3px;
    border-bottom: 2px solid var(--main-color);
}
.pricingTable .price-value .duraton{
    color: #aaa;
    font-size: 15px;
    font-weight: 300;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #aaa;
    font-size: 17px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: .5px;
    padding: 0 15px 0 25px;
    margin: 0 0 10px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "";
    background-color: var(--main-color);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
}
.pricingTable .pricing-content li.disable:before{ background-color: #999; }
.pricingTable .pricingTable-signup a{
    color:#fff;
    background: var(--main-color);
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    text-shadow: -2px 2px 1px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 0 rgba(0,0,0,0.12);
}
.pricingTable.darkblue{ --main-color: #1692bb; }
.pricingTable.golden{ --main-color: #f5b50a; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 15px 40px; }
    .pricing-table { padding: 1em }
}

/* Verification Page */

.email-verification {
    background: #020d18;
    padding: 3em;
    text-align: center;
}

.email-verification h2 {
    margin: 1em;
    color: #eee;
}

.email-verification span {
    color: #ddd;
    margin: 1em;
}

.email-verification a {
    display: inline-block;
}

/* profile page */

.file-input {
    position: relative;
    
}

.file-input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-input .input-btn {
    display: inline-block;
    border-radius: 50px !important;
    height: 40px;
    padding: 10px 25px;
}

#user-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.movie-single .movie-img img {
    max-height: 65vh;
    object-fit: contain;
    object-position: center;
}

.movie-single .sticky-sb {
    text-align: center;
}

.mv-single-hero {
    background-size: cover !important;
    background-position: center !important;
}
.loader {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.loader span {
    position: absolute;
    border-radius: 999px;
    border: 5px solid #dd003f;
    border-top: 5px solid transparent;
    width: 30px;
    height: 30px;
    animation: spin2 1s infinite linear;
}

#favorite-btn {
    display: flex;
    align-items: center;
}

#favorite-btn .loader {
    margin-right: 10px;
}

#favorite-btn i.active {
    background: #dd003f;
    color: #fff;
}

.movie-item-img-cnt {
    position: relative;
    padding-top: calc(100*261%/170);
    width: 100%;
}

.movie-item-img-cnt > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
}

.sliderv2, .common-hero {
    background-size: cover;
    background-position: center;
}

.sliderv2::before, .common-hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
}

footer {
    background: #050505;
}

.video-js {
    width: 100%;
}

.vjs-theme-fantasy {
    --vjs-theme-fantasy--primary: #dcf836 !important;
}

/* .vjs-theme-fantasy .vjs-big-play-button {
    color: #dcf836 !important;
} */

.toast {
    position: fixed;
    top: 1em;
    right: 1em;
    display: inline-block;
    max-width: 300px;
    z-index: 999999;
}

.no-result {
    color: #abb7c4;
    padding: 1em;
    text-align: center;
}

.celebrity-avatar {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.celebrity-mini-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.celebrity-show-mini-poster {
    width: 55px;
    height: 77px;
    object-fit: cover;
    object-position: center;
}