#app-basic-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.profile-avatar {
    object-fit: cover;
    object-position: center;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: .8rem;
}

.bootstrap-tagsinput .badge {
    font-size: .8em;
}

.bootstrap-tagsinput input {
    padding: 5px;
}

.poster-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.poster-upload-info {
    display: none;
}

.poster-upload-info.active {
    display: block;
}

.poster-upload-info span {
    font-size: 3em;
}

.poster-upload > input, .poster-upload > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.poster-upload > img {
    object-fit: contain;
    object-position: center;
    opacity: 1;
}

th {
    white-space: nowrap;
}


.video-upload video {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
}

.video-uplaod-clear {
    padding: 5px;
    background: var(--bs-danger);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.25em;
    width: 2.25em;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
}